body#login {
    display: flex;
    background-color: #eee;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.login-field {
    border: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 5px;
}

