.profile-widget {
    border-radius: 2px;

    > header {
        background-image: url('images/profile.jpg');
        background-position: center;
        background-size: cover;
        height: 300px;
    }

    .profile-content {
        background-color: #3b4448;
        padding: 0;

        .col-sm-4 {
            padding: 10px 20px;
        }

        h4 {
            color: #1ea8e3;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 3px;
        }

        h5 {
            color: white;
            text-transform: uppercase;
            font-size: 13px;
            margin-bottom: 2px;
        }
    }

    .compose {
        background-color: #4a565b;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.light {
            background-color: white;
            border: 1px solid #d0d9dc;
            border-radius: 2px;

            > input {
                color: #111;
            }

            > footer {
                > i, > span {
                    color: #0275d8;
                }
            }
        }

        > input {
            background-color: transparent;
            border: 0;
            flex-grow: 1;
            color: white;
            padding: 10px 14px;

            &:focus + footer {
                display: flex;
            }
        }

        > footer {
            display: none;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 0 10px 14px;
            width: 100%;

            > button {
                margin-left: 10px;
            }

            > span {
                color: rgb(204, 204, 204);
            }

            > i {
                color: rgb(204, 204, 204);
                font-size: 17pt;
                cursor: pointer;
            }
        }
    }
}

.about-widget {
    margin-top: 15px;
    border: 1px solid #d0d9dc;
    border-radius: 2px;
    background-color: white;
    padding: 10px;
    padding-bottom: 0;
        
    > h5 {
        text-transform: uppercase;
        color: #70838b;
    }
}

.follow-button {
    border-radius: 2px;
    margin-top: 15px;
}
