.content {
    margin-top: 75px;
}

.posts-list {
    border: 1px solid #d0d9dc;
    border-radius: 2px;
    background-color: white;
    padding: 0;
    padding-bottom: 10px;

    > header {
        background-color: #f3f7f8;
        color: #70838b;
        font-weight: bold;
        padding: 10px 15px;
        margin-bottom: 8px;
    }

    .post {
        padding: 10px 15px;
        display: flex;

        > aside > img {
            width: 64px;
            border-radius: 2px;
        }

        > .post-main {
            flex-grow: 1;
            padding: 0 8px;

            > header {
                > h6 {
                    font-weight: bold;
                    color: #333;
                    margin-bottom: 3px;

                    > a {
                        color: #5AA7D2;
                        font-size: 14px;
                    }
                }
            }

            > .post-content {
                font-size: 15px;
            }
        }
    }
}
