{{define "Login"}}
<html>
    {{template "head"}}
    <body id="login">
        <form id="login-form" method="POST">
            {{if .Error}}
                {{.Error}} 
            {{end}}
            <input type="text" name="username" placeholder="Username" class="login-field" />
            <input type="password" name="password" placeholder="Password" class="login-field" />
            <input type="submit" value="login" />
        </form>
    </body>
</html>
{{end}}
