{{define "Profile"}}
<html>
    {{template "head" .Name}}
    <body id="timeline">
        <header>
            <nav class="navbar navbar-fixed-top navbar-dark bg-inverse header-nav">
                <div class="container">
                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messages</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <form class="form-inline pull-xs-right">
                        <i class="fa fa-search" aria-hidden="true" style="position: relative; top: 2px;"></i>
                        <input class="form-control header-search-input" type="text" placeholder="Search">
                    </form>
                </div>
            </nav>
        </header>

        <div class="content container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="profile-widget">
                        <header>
                        </header>
                        <div class="container profile-content">
                            <div class="col-sm-4">
                                <h4>{{.ProfileUser.GetFollowingCount}}</h4>
                                <h5>FOLLOWING</h5>
                            </div>
                            <div class="col-sm-4">
                                <h4>{{.ProfileUser.GetPostsCount}}</h4>
                                <h5>Tweets</h5>
                            </div>
                            <div class="col-sm-4">
                                <h4>{{.ProfileUser.GetFollowersCount}}</h4>
                                <h5>FOLLOWERS</h5>
                            </div>
                        </div>
                        <form class="compose" id="send-post" method="POST" action="/submit">
                            <input class="form-control" type="text" id="submit-post-content" placeholder="Write new Tweet..." name="content">
                            <footer>
                                <i class="fa fa-photo" aria-hidden="true"></i>
                                <div class="flex-seperator"></div>
                                <span class="tweet-length-indicator">140</span>
                                <button type="button" class="btn btn-secondary-outline btn-sm">Send</button>
                            </footer>
                        </form>
                    </div>
                    {{if ne .ProfileUser.ID .User.ID}}
                        {{if .ProfileUser.FollowedBy .User.ID}}
                            <button id="follow" type="button" class="btn btn-primary btn-lg btn-block follow-button">Unfollow {{.ProfileUser.Username}}</button>
                        {{else}}
                            <button id="follow" type="button" class="btn btn-primary btn-lg btn-block follow-button">follow {{.ProfileUser.Username}}</button>
                        {{end}}
                    {{end}}
                    <div class="about-widget">
                        <h5>About</h5>
                        <p>My name is Yotam and this is the first profile in the website!</p>
                    </div>
                </div>
                <div class="col-sm-8 posts-list">
                    <header>
                        {{.ProfileUser.Username}}'s Tweets
                    </header>
                    {{range $post := .ProfileUser.GetPosts 50}}
                        <div class="post">
                            <aside>
                                <img src="http://localhost:3000/public/images/profile.jpg" alt="{{$post.CreatorName}}" />
                            </aside>
                            <div class="post-main">
                                <header>
                                    <h6>{{$post.CreatorName}} <a href="#">@{{$post.CreatorName}}</a></h6>
                                </header>
                                <div class="post-content">
                                    <p>{{$post.Content}}</p>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX" crossorigin="anonymous"></script>
        <script src="/public/scripts/main.js"></script>
        <script>
            window.follow = {{.ProfileUser.FollowedBy .User.ID}};
            window.userID = {{.ProfileUser.ID}};
            window.username = "{{.ProfileUser.Username}}";
        </script>
    </body>
</html>
{{end}}
